*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dados{ 
    display: flex;
    gap: 15px;
    width: 1000px;
    height: 500px;
    background-color: aqua;
    align-items: center;
    
}

.box{
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    text-align: center;
    border: 5px solid black;
}
.jogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.jogo > .player-options img,
.enemy-options img{
    height: 100px;    
    width: 100px;
    opacity: 0.3;
    cursor: pointer;
}

