*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.dados{ 
    display: flex;
    gap: 15px;
    width: 1000px;
    height: 500px;
    background-color: aqua;
    align-items: center;
    
}

.box{
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    text-align: center;
    border: 5px solid black;
    display: flex;

}